div {
    display: inline-block;
    background-color: rgb(185, 179, 170);
    border: 1px solid black;
    text-align: center;
    height: 50px;
    width: 50px;

}

div:hover {
    background-color: white;
}